body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  width: 60%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkblue;
}

.error {
  color: red;
  margin: 0;
}

.success {
  color: green;
  text-align: center;
}

.card {
  background: #f8f8f8;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}